@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F1F2F6;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
}

.font-anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.toggle-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    background: none;
    font-weight: bold;
}

.toggle-button.active {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}